/*color: black; cor da fonte
    background-color: #ffe6e6; cor do fundo da fonte
    text-align: justify; /*essa tag define que os parágrafos ocupem toda a largura  do elemento aumentando o espaçamento entre as palavras.
    letter-spacing: 3px;
    word-spacing: 3px;
    text-indent: 30px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffe6e6;
    border-color: #ff6666;
    border-style: solid;
    border-width: 1px;
}
h1{
    background-image: url(imagens/sobre-background.jpg);
}*/
body{
    color: #333333;
    background: #f5f5ef;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    background-image: url(imagens/sobre-background.jpg);
    text-align: center;
}
h2{
    border-bottom: 1px solid #333333;
    text-align: center;
}
figure{
    background-color: #ebebe0;
    border: 3px double #e1e1d0;
    text-align: center;
}
figcaption{
    font-style: italic;
}
